# read file, pattern match dates, sort file lines based on date

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data.

Each line of the dates.txt file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates.

Here is a list of some of the variants you might encounter in this dataset:

04/20/2009; 04/20/09; 4/20/09; 4/3/09
Mar-20-2009; Mar 20, 2009; March 20, 2009; Mar. 20, 2009; Mar 20 2009;
20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
Feb 2009; Sep 2009; Oct 2010
6/2008; 12/2009
2009; 2010
Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:

Assume all dates in xx/xx/xx format are mm/dd/yy
Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
Watch out for potential typos as this is a raw, real-life derived dataset.
With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

0    1999
1    2010
2    1978
3    2015
4    1985
Your function should return this:

0    2
1    4
2    0
3    1
4    3
Your score will be calculated using Kendall's tau, a correlation measure for ordinal data.

This function should return a Series of length 500 and dtype int.

In [104]:
import re

In [105]:
f = open("dates.txt")

In [106]:
lines = []
i = 0

In [107]:
#sometimes data can be spread over multiple lines. how to keep this data together when sorting based on dates.

for line in f:
    lines.append(line)         
    i += 1

In [108]:
f.close()

In [109]:
pat1 = re.compile('(([01]\d|\d)/(?:([0-3]\d|\d)/)?([12][90]\d\d|\d\d))') #may catch non dates like 43/89 add month abbr or here if needed

In [110]:
pat1b = re.compile('(([01]\d|\d)-([0-3]\d|\d)-([12][90]\d\d|\d\d))')

In [111]:
# 04 Oct 1972, Sep. 10, 1974
# also catches Age 16, 1991
# also catches 6 hours. as23

pat2 = re.compile('((?:([0-3]\d|\d),?\.?\s([a-zA-Z]{3,9})|([a-zA-Z]{3,9}),?\.?\s([0-3]\d|\d)),?\.?\s([12][90]\d\d|\d\d))')

In [112]:
date_lines = []

In [113]:
months = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']

In [114]:
i = 0

In [115]:
for l in lines:  
    #[('7/1982', '7', '', '1982')] [('11/14/83', '11', '14', '83')]
    match = pat1.findall(l)  
    if match:
        (dt,mm,dd,yyyy) = (match[0][0],match[0][1],match[0][2],match[0][3])  
        if dd == "": dd = "01"
        if int(mm)>12 or int(dd)>31 or (len(yyyy)==4 and int(yyyy) > 2018):
            pass
        else:
            if len(yyyy) == 2:
                if int(yyyy) in range(0,19):
                    yyyy = "20"+ yyyy
                else:
                    yyyy = "19"+ yyyy  
            if len(mm) == 1: mm = "0"+ mm
            if len(dd) == 1: dd = "0" + dd
            date = yyyy+"/"+mm+"/"+dd
            date_lines.append((date,dt,l,i))
            i +=1
            continue
            
    # [('4-13-82', '4', '13', '82')]
    match = pat1b.findall(l)
    if match:
        (dt,mm,dd,yyyy) = (match[0][0],match[0][1],match[0][2],match[0][3])    
        if int(mm)>12 or int(dd)>31 or (len(yyyy)==4 and int(yyyy) > 2018):
            pass
        else:
            if len(yyyy) == 2:
                if int(yyyy) in range(0,19):
                    yyyy = "20"+ yyyy
                else:
                    yyyy = "19"+ yyyy  
            if len(mm) == 1: mm = "0" + mm
            if len(dd) == 1: dd = "0" + dd
            date = yyyy+"/"+mm+"/"+dd
            date_lines.append((date,dt,l,i))
            i +=1
            continue
        
    #[[('04 Oct 1972', '04', 'Oct', '', '', '1972')][('Sep. 10, 1974', '', '', 'Sep', '10', '1974')] 
    # also catches Age 16, 1991
    # also catches 6 hours.\n23
    match = pat2.findall(l)   
    if match:
        (dt,dd,mm,yyyy) = (match[0][0],match[0][1]+match[0][4],match[0][2]+match[0][3],match[0][5])
        if int(dd) > 31:
            dd = "01"
        try:
            mm = str(months.index(mm[:3].lower()) + 1)
        except:
            try:
                mm = str(months.index(mm[1:4].lower()) + 1)
            except:
                mm = "01"
                dd = "01"
        if len(mm) == 1: mm = "0" + mm
        if len(dd) == 1: dd = "0" + dd       
        date = yyyy+"/"+mm+"/"+dd
        date_lines.append((date,dt,l,i))
        i +=1
        continue
        
    #[('in 2014', 'in', '2014')]
    # overlaps with pat2 but wont hit lines matching pat2
    match = re.findall('(([a-zA-Z]+),?\s([12][90]\d\d))',l)   
    if match:
        (dt,mm,yyyy) = (match[0][0],match[0][1],match[0][2])
        try:
            mm = str(months.index(mm[:3].lower()) + 1)
        except:
            try:
                mm = str(months.index(mm[1:4].lower()) + 1)
            except:
                mm = "01"
        if len(mm) == 1: mm = "0" + mm
        if len(dd) == 1: dd = "0" + dd         
        date = yyyy+"/"+mm+"/"+"01"
        date_lines.append((date,dt,l,i))
        i +=1
        continue
    
    # overlaps with all but wont hit lines matching prev pat
    match = re.findall('([12][90]\d\d)',l)
    if match:
        (dt,yyyy) = (match[0],match[0])
        date = yyyy+"/01"+"/01"
        date_lines.append((date,dt,l,i))
        i +=1
        continue
        
    date = ""    
    dt = "*no match*"
    date_lines.append((date,dt,l,i))
    
         
    #date_lines holds (date in yyyy/mm/dd format, match string, full line, orig line num)

In [116]:
date_lines.sort()

In [117]:
f1 = open("dates_sorted_line_numbers.txt","w")

In [118]:
f2 = open("dates_sorted.txt","w")

In [119]:
for l in date_lines:
    f1.write(str(l[3])+'\n')
    f2.write(l[2])

In [120]:
f1.close()

In [121]:
f2.close()

match 10/13/1976
match 4/24/98
match _9/12/98
match .9/12/98
match 4.9/9/99
skip 4.9/36/308 
skip 19/29/99
skip 6/6/6767
match 5-9-10

match 9/10
skip 9-10

match feb. 10
match 23 feb 11
skip feb-11
skip and 10
1982
2/1982
2-1982
feb. 1982